.text-input-container {
  display: flex;
  flex-direction: column;
  gap: 0px;

  .text-input-label {
    font-size: 0.875rem;
    font-weight: 400;
    font-style: normal;
    line-height: 1.25rem;
    color: rgba(37, 37, 37, 1);
  }

  .text-input-content {
    display: flex;
    align-items: center;
    border: 1px solid rgba(200, 200, 200, 1);
    width: 60%;
    border-radius: 16px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 16px;
    padding-right: 12px;
    gap: 8px;

    img {
      width: 20px;
      height: 20px;
    }

    input {
      border: none;
      outline: none;
      font-size: 1rem;
      font-weight: 400;
      font-style: normal;
      line-height: 1.5rem;
      color: rgba(37, 37, 37, 1);
      width: 100%;
    }
  }
}
