.text-input-container {
  display: flex;
  flex-direction: column;
  gap: 0px;

  .text-input-label {
    font-size: 0.875rem;
    font-weight: 400;
    font-style: normal;
    line-height: 1.25rem;
    color: rgba(37, 37, 37, 1);
  }

  .text-input-content {
    display: flex;
    align-items: center;
    border: 1px solid rgba(225, 228, 234, 1);
    width: 60%;
    border-radius: 16px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    padding-right: 12px;
    gap: 0.5rem;

    img {
      width: 20px;
      height: 20px;
    }

    input {
      border: none;
      outline: none;
      font-size: 1rem;
      font-weight: 400;
      font-style: normal;
      line-height: 1.5rem;
      color: rgba(158, 163, 173, 1);
      width: 100%;
      transition: font-weight 0.15s ease;
    }

    /* Hover effect */
    &:hover {
      border-color: rgba(174, 178, 186, 1);

      input {
        font-weight: 600;
      }
    }

    &:focus-within {
      border-color: rgba(64, 224, 208, 1);
      border-width: 2px;

      input {
        font-weight: 400;
      }
    }
  }

  /* Error border ACTIVE */
  .text-input-content.error {
    border-color: red !important;
  }
  .error-place-holder {
    min-height: 1.125rem;

    .text-input-error {
      font-size: 0.75rem;
      color: red;
      margin-top: 0px;
      margin-bottom: 0px;
    }
  }
  /* Error text */

  :hover {
    cursor: pointer;
  }
}
